.diceResult {
    font-size: 2em;
    margin-top: 10px;
    font-weight: bold;
    width: 100px;
    height: 100px;
    line-height: 100px;
    color: white;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    margin-bottom: 10px;
    cursor: pointer;
    z-index: 1;
}
.line {
    position: absolute;
    background-color: black;
    z-index: 0;
}

.line-d4vert {
    width: 2px;
    height: 400px;
    top: 0;
    left: 50%;
    transform: translateX(-50%)
}


/* Special square styling for the D6 dice */
.diceResult {
    width: 100px;
    height: 100px;
    position: relative;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}
.d4, .d4::after {
    clip-path: polygon(50% 0%, 100% 71%, 50% 100%, 0 71%);
}

.d6, .d6::after {
    clip-path: polygon(0 25%, 50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%);
}

.line-d61 {
    width: 2px;
    height: 52px;
    bottom: 0%;
    left: 50%;
    transform: translateX(-50%);
}

.line-d62 {
    width: 2px;
    height: 67px;
    top: 1%;
    left: 20%;
    transform: rotate(-65deg)
}

.line-d63 {
    width: 2px;
    height: 67px;
    top: 1%;
    left: 80%;
    transform: rotate(65deg)
}

.d8, .d8::after {
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

.line-d81 {
    width: 2px;
    height: 73px;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.line-d82 {
    width: 2px;
    height: 108px;
    top: 50;
    left: 0%;
    transform: rotate(-65deg);
}
.line-d83 {
    width: 2px;
    height: 112px;
    top: 50;
    left: 100%;
    transform: rotate(66deg)
}

.line-d84 {
    width: 2px;
    height: 50px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%)
}

.d10, .d10::after {
    clip-path: polygon(0 40%, 50% 0, 100% 40%, 100% 60%, 50% 100%, 0 60%);
}

.line-d101 {
    width: 2px;
    height: 30px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%)
}

.line-d102 {
    width: 2px;
    height: 100px;
    top: 5;
    left: 0%;
    transform: rotate(-90deg);
    background-color: #a53719;
}

.d12, .d12::after {
    clip-path: polygon(
        50% 0%, 80% 10%, 100% 35%, 100% 70%, 80% 90%, 
        50% 100%, 20% 90%, 0% 70%, 0% 35%, 20% 10%, 
        50% 0%, 70% 5% 
    );
}

.line-d121 {
    width: 2px;
    height: 20px;
    top: 0%;
    left: 50%;
    transform: translateX(-50%);
}

.line-d122 {
    width: 2px;
    height: 40px;
    top: 16%;
    left: 0%;
    transform: rotate(-80deg);
}

.line-d123 {
    width: 2px;
    height: 40px;
    top: 16%;
    right: 0%;
    transform: rotate(80deg);
}

.line-d124 {
    width: 2px;
    height: 25px;
    bottom: 1%;
    left: 23%;
    transform: rotate(-130deg);
}

.line-d125 {
    width: 2px;
    height: 25px;
    bottom: 1%;
    right: 23%;
    transform: rotate(130deg);
}

.line-d126 {
    width: 2px;
    height: 37px;
    top: 10%;
    left: 35%;
    transform: rotate(-125deg);
}

.line-d127 {
    width: 2px;
    height: 37px;
    top: 10%;
    right: 35%;
    transform: rotate(125deg);
}

.line-d128 {
    width: 2px;
    height: 37px;
    top: 40%;
    right: 25%;
    transform: rotate(20deg);
}

.line-d129 {
    width: 2px;
    height: 37px;
    top: 40%;
    left: 25%;
    transform: rotate(-20deg);
}

.line-d1210 {
    width: 2px;
    height: 37px;
    bottom: 6%;
    right: 50%;
    transform: rotate(90deg);

}

.d20, .d20::after {
    clip-path: polygon(0 20%, 50% 0, 100% 20%, 100% 80%, 50% 100%, 0 80%);
}

.diceResult::after {
    content: "";
    width: 90px;
    height: 90px;
    position: absolute;
    background-color: darkred;
    z-index: -1;
}

.diceWrapper {
    max-width: 1200px; /* Max width of the dice container */
    margin-left: auto;
    margin-right: auto;
    padding: 20px; /* Optional padding around the dice */
    box-sizing: border-box; /* Ensure padding does not affect the width */
    
}
.diceContainer {
    display: grid;
    grid-template-columns: repeat(6, 1fr); /* Default to 6 dice per row */
    gap: 10px; /* Reduced gap between dice */
    margin-bottom: 30px;
    width: 100%;
}
.diceContainer div {
    text-align: center;
}
.diceLabel {
    font-size: 1.2em;
    margin-bottom: 5px;
}

/* Responsive styles for smaller screens */
@media (max-width: 1000px) {
    .diceContainer {
        grid-template-columns: repeat(3, 1fr); /* 3 dice per row on smaller screens */
    }
}

@media (max-width: 650px) {
    .diceContainer {
        grid-template-columns: repeat(2, 1fr); /* 2 dice per row on even smaller screens */
    }
}

@media (max-width: 400px) {
    .diceContainer {
        grid-template-columns: 1fr; /* 1 dice per row on very small screens */
    }
}