<!DOCTYPE html>
<html>
    <head lang="en">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/dark.css">
        <link rel="stylesheet" href="/static/styles.css">
        <title>SSE Groupwork</title>
        <style>
            .box-style
            {
                width: 50%;
                border-radius: 25px;
                padding: 30px;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <a href="/">
                <h1 class="nav-bar"> D&D GM Board </h1>
            </a>

            <form class="page center box-style" action="/STARTGAME">
                <h1>Create New Game</h1>
                <label for="gameName">Enter the name of your new game:</label>
                <input type="text" name="gameName">
            <!--Might need some javascript to get a list of names for players
            when entering player name, if new, add to database, if not access
            name in database-->
            <div>
                <label>Select the character you wish to add to your game:</label>
                <select id="select1">
                    <option value="Name 1">Name 1</option>
                    <option value="Name 2">Name 2</option>
                    <option value="Name 3">Name 3</option>
                </select>

                <button type="button" onclick="getPlayer()">Add Player to Game</button>

                <h3>Current List of Characters in Game:</h3>
                <ul id="playerListContainer">
                    <!-- Selected items will appear here -->
                </ul>
            </div>  
                <a href="/player_creation">
                    <button type="button"> Create new player </button>
                </a>

                <br>
                
                <div style="text-align: center;">
                    <label for="submit"></label>
                    <button id="submitGame" name="submit">Start your new game!</button>
                </div>
                <!--Scripts-->
                <script src="/static/list_players.js"></script>
                
            </form>
        </div>
    </body>
</html>