<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/dark.css">
        <link ref="stylesheet" href="/static/styles.css">
    </head>
    <body>
        <div class="container">
            <form action="/save_player">
                <label>Character name: </label>
                <input type="text">

                <hr>
                <h3>The Basics</h3>
                <label>Choose race: </label>
                <!--Need to make this select list use the api (potentially)-->
                <select name="race">
                    <option>select one</option>
                    {% for race in races %}
                        <option value="{{ race.index }}">{{ race.name }}</option>
                    {% endfor %}
                </select name="class">
                <label>Choose a class: </label>
                <select>
                    <option>select one</option>
                    {% for class in classes %}
                        <option value="{{ class.index }}">{{ class.name }}</option>
                    {% endfor %}
                </select>

                <label>Choose a background: </label>
                <select name="background">
                    <option>select one</option>
                    {% for background in backgrounds %}
                        <option value="{{ background.index }}">{{ background.name }}</option>
                    {% endfor %}
                </select>
                
                <hr>
                <h3>Ability Scores</h3>
                <!--<p>Choose your ability scores</p>-->
                <!--Ability scores-->
                <!--Will need to add race ability scores to ones chosen-->
                <!--Need to determine ability modifier depending on ability scores-->
                <label for="ability1">Strength</label>
        <select id="ability1" onchange="updateDropdowns()">
            <!-- Default option with no value -->
        </select><br>

        <label for="ability2">Dexterity</label>
        <select id="ability2" onchange="updateDropdowns()">
            <!-- Default option with no value -->
        </select><br>

        <label for="ability3">Constitution</label>
        <select id="ability3" onchange="updateDropdowns()">
            <!-- Default option with no value -->
        </select><br>

        <label for="ability4">Intelligence</label>
        <select id="ability4" onchange="updateDropdowns()">
            <!-- Default option with no value -->
        </select><br>

        <label for="ability5">Wisdom</label>
        <select id="ability5" onchange="updateDropdowns()">
            <!-- Default option with no value -->
        </select><br>

        <label for="ability6">Charisma</label>
        <select id="ability6" onchange="updateDropdowns()">
            <!-- Default option with no value -->
        </select><br>

                <!--determine proficiency and saving throws after character creation-->

                <label for="Submit"></label>
                <button name="submit">Save Character</button>
            </form>
        </div>
        <script src="/static/character_form.js"></script>
    </body>
</html>