<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/dark.css">
        <link rel="stylesheet" href="/static/styles.css">
        <title>SSE Groupwork</title>
        <style>
            .box-style
            {
                width: 70%;
                height: 15%;                
                border-radius: 25px;
                padding: 5px 30px 10px 30px;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <a href="/">
                <h1 class="nav-bar"> D&D GM Board </h1>
            </a>

            <ul style="list-style-type: none;">{% for game in games %}
                <li class="page box-style">
                    <h2> {{game.name}} </h2>

                    <a href="/STARTGAME"> 
                        <button style="position: absolute; top: 35%; left: 70%;"> Start game </button> 
                    </a>

                    <p>
                        Players: {{game.players}}
                    </p>
                </li>  
                <br>              
            {% endfor %} </ul>     
        </div>
    </body>
</html>
