<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/dark.css">
        <link rel="stylesheet" href="/static/styles.css">
        <link rel="stylesheet" href="/static/additional.css">
        <title>SSE Groupwork</title>
        <style>
            .box-style
            {
                width: 90%;
                height: 15%;                
                border-radius: 25px;
                padding: 5px 30px 10px 30px;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <a href="/">
                <h1 class="nav-bar">Load A Game</h1>
            </a>

            <ul style="list-style-type: none;"> 
                {% for game_players in json_input %}
                <li class="page box-style frame">
                    <h2> {{game_players.game.game_name}} </h2>

                    <a href="/STARTGAME?game_id={{game_players.game.game_id}}"> 
                        <button class="interactables" style="position: absolute; top: 35%; left: 70%;"> Start game </button> 
                    </a>

                    <p>
                        Characters: {% for player in game_players.players %} {{player.name}} {% endfor %}
                    </p>
                </li>  
                <br>              
                {% endfor %}
            </ul>     
        </div>
    </body>
</html>
