<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/index.css">
    <title>DnD Game Tracker Homepage</title>
</head>
<body>
    <header>
        <a href="/">
        <h1 class="nav-bar">Dungeons & Dragons</h1>
        </a>
        <h2>Dungeon Master Game Tracker</h2>
    </header>
    <main class="outer-frame">
        <div class="frame">
            <a href="/game_creation">
                <button class="button"> Create new game </button>
            </a>
    
            <br>
    
            <a href="/games_index">
                <button class="button"> Load game </button>
            </a>
        </div>
    </main>

    
</body>

</html>