<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
    <title>SSE Groupwork</title>
    <style>
        .container
        {
            text-align: center;
            margin: auto;
            margin-top: 40%;
        }
    </style>
</head>
<body>
    <h1> D&D GM Board </h1>

    <div class="container">
        <a href="create_new_game.html">
            <button class="button button1"> Create new game </button>
        </a>
        

        <br>

        <button class="button button2"> Load game </button>
    </div>
</body>

</html>